parameters:
    level: max
    paths:
        - ./src/
        - ./tests/
    phpVersion:
        min: 70200
        max: 80499

includes:
    - phpstan-baseline.neon
    - tools/vendor/marc-mabe/php-enum-phpstan/extension.neon
